{{#each field_collections}}
  <div data-role="collapsible"
       data-inset="true"
       data-theme="a"
       data-collapsed="true"
       id="collapsable_{{layer_id}}">
    <h3>{{layer_name}}</h3>
    {{#each fields}}
      <div id="wrapper_{{id}}" tabindex="0" class="{{invisible}}">
        <label for='name'>{{name}} {{#if required}} <span class="requiredAsteric">*</span> {{/if}}</label>
          {{#ifCond widgetType "input"}}
            <input type="{{type}}"
               id="{{id}}"
               value ="{{__value}}"
               name="{{name}}"
               {{required}}
               {{readonly}}>
          {{/ifCond}}

          {{#ifCond widgetType "numeric"}}
            <input type="{{type}}"
               id="{{id}}"
               value ="{{__value}}"
               name="{{name}}"
               min="{{config.range.minimum}}"
               max="{{config.range.maximum}}"
               data-is_enable_field_logic="{{is_enable_field_logic}}"
               class="skipLogicNumber"
               data-allows_decimals= {{config.allows_decimals}}
               data-digits_precision="{{config.digits_precision}}"
               data-previous-value ="{{__value}}"
               {{required}}
               {{readonly}}>
          {{/ifCond}}

          {{#ifCond widgetType "yes_no"}}
            <select id="{{id}}"
                  name="{{id}}"
                  data-theme="a"
                  data-native-menu="false"
                  data-role="slider"
                  data-mini="true"
                  {{required}}
                  data-is_enable_field_logic="{{is_enable_field_logic}}"
                  class="validateSelectFields needsclick">
              {{#config.options}}
                <option value="{{id}}" {{selected}} data-field_id="{{field_id}}">{{label}}</option>
              {{/config.options}}
            </select>
            <label id="label_{{id}}" class="errorSelect" style="display: none">{{t "validation.required"}}</label>
          {{/ifCond}}

          {{#ifCond widgetType "select_one"}}
            <select id="{{id}}"
              name="{{id}}"
              data-theme="a"
              data-native-menu="false"
              {{required}}
              data-is_enable_field_logic="{{is_enable_field_logic}}"
              class="validateSelectFields needsclick">

              <option value="">Option</option>
              <option value="" selected>(no value)</option>
              {{#config.options}}
                <option value="{{id}}" {{selected}} data-field_id="{{field_id}}">{{label}}</option>
              {{/config.options}}
            </select>
            <label id="label_{{id}}" class="errorSelect" style="display: none">{{t "validation.required"}}</label>
          {{/ifCond}}

          {{#ifCond widgetType "select_many"}}
            <select id="{{id}}"
                    name="{{id}}"
                    data-theme="a"
                    data-native-menu="false"
                    multiple="multiple"
                    {{required}}
                    data-is_enable_field_logic="{{is_enable_field_logic}}"
                    class="validateSelectFields needsclick">
              <option>Options</option>
              {{#config.options}}
              <option value="{{id}}" {{selected}}>{{label}}</option>
              {{/config.options}}
            </select>
            <label id="label_{{id}}" class="errorSelect" style="display: none">{{t "validation.required"}}</label>
          {{/ifCond}}

          {{#ifCond widgetType "hierarchy"}}
            <div id="{{id}}"
                 class="tree"
                 {{required}}>
            </div>
            <label id="label_{{id}}" class="errorHierarchy" style="display: none">{{t "validation.required"}}</label>
          {{/ifCond}}

          {{#ifCond widgetType "date"}}
            <input type="{{type}}"
               id="{{id}}"
               value ="{{__value}}"
               name="{{name}}"
               class="date"
               {{required}} >
          {{/ifCond}}

          {{#ifCond widgetType "search"}}
            <input id="{{id}}"
                   data-type="search"
                   data-code ="{{__value}}"
                   value ="{{__valueLabel}}"
                   name="{{name}}"
                   data-kind = "{{kind}}"
                   {{required}}
                   class="search_input">
            <label id="label_{{id}}" class="errorSearch" style="display: none">{{t "validation.user_email"}}</label>
            <ul id="{{kind}}_autocomplete"
                data-role="listview"
                data-filter="true"
                data-input="#{{id}}"
                data-inset="true"
                class="autocomplete">
            </ul>
          {{/ifCond}}

          {{#ifCond widgetType "photo"}}
            <div onclick="CameraModel.openCameraDialog({{id}}, '')"
                 id='property_{{id}}_container'
                 class="photo">
             <img class="image"
                  src='{{__value}}'
                  id='{{id}}'
                  {{required}} />
            </div>
            <label id="label_{{id}}" class="errorImage" style="display: none">{{t "validation.required"}}</label>
          {{/ifCond}}

          {{#ifCond widgetType "nearby"}}
            <input id="{{id}}"
               data-type="search"
               value ="{{__valueLabel}}"
               data-code ="{{__value}}"
               data-kind = "{{kind}}"
               name="{{name}}"
               {{required}}
               class="search_input">
            <label id="label_{{id}}" class="errorSearch" style="display: none">{{t "validation.user_email"}}</label>
            <ul id="autocomplete_{{id}}"
                data-role="listview"
                data-filter="true"
                data-input="#{{id}}"
                data-inset="true"
                class="autocomplete">
            </ul>
          {{/ifCond}}
        </div>
   {{/each}}
  </div>
{{/each}}
